@keyframes rotating {
  from {
    transform: rotate(0)
  }
  to {
    transform: rotate(360deg)
  }
}


.mp-mdl-button {
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
  vertical-align: middle
}

.mp-mdl-button:hover {
  background-color: rgba(158, 158, 158, .2)
}

.mp-mdl-button--icon {
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  margin-left: 0;
  margin-right: 0;
  min-width: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  color: inherit;
  line-height: normal
}

.mp-mdl-button--icon .material-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-12px, -12px);
  transform: translate(-12px, -12px);
  line-height: 24px;
  width: 24px
}

.mp-mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

#mp-music {
  margin-left: 16px;
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  //overflow: hidden;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
}

#mp-music-wrapper {
  position: absolute;
  top: -4px;
  right: -4px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

#mp-music-wrapper.open {
  background-color: rgba(255, 255, 255, 0.92);
  /*background-color: white*/
}

#mp-hide-panel {
  display: none;

  &.show {
    display: block;
  }
}

#mp-list {
  width: 0px;
  /*flex-basis: 160px;*/
  display: none;
  overflow: hidden;

  &.show {
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 8px;
    color: rgba(0, 0, 0, 0.87);
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;

    &:hover {
      background-color: #EBEBEB;
    }

    &:active,
    &:focus {
      color: black;
      background-color: #d4d4d4;
    }

    &.current {
      background-color: #e0e0e0;
    }
  }
}

#mp-music-album.playing {
  animation: rotating 6s linear infinite
}

#mp-ctrl-group {
  box-sizing: border-box;
  width: 40px;
  padding: 4px;
  max-width: 40px;
  border-radius: 20px;
}

#mp-ctrl-panel {
  display: flex;
  flex-direction: column;
}



